body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}


/* NAVIGASJON */

nav {
    background-color: #000;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.logo {
    color: red;
    font-size: 28px;
}

ul {
    display: flex;
    gap: 30px;

    list-style: none;
    padding: 0;
}

a {
    color: white;

    font-size: 20px;
}

a:hover {
    color: red;
    transition: 0.3s;
    transform: scale(1.2);
}

.modus-knapp {
    padding: 10px 14px;
    cursor: pointer;
    font-size: 18px;
}


/* HERO */

.hero {
    text-align: center;
    padding: 120px 20px;
    background-image: url(media/vm.png);
    background-size: cover;
    background-position: center;
    min-height: 60vh;

}

.hero-tekst {
    max-width: 1800px;

}

.hero h2 {
    font-size: 100px;
    color: red;
}


/* STATISTIKK */

.statistikk {
    display: flex;
    justify-content: center;
    gap: 220px;


    background-color: red;
    padding: 40px 20px;
}

.stat-boks {
    text-align: center;
}

.stat-boks h3 {
    font-size: 40px;
    margin-bottom: 10px;
}


/* NYHETER */

.nyheter {
    padding: 80px 20px;
    text-align: center;
}

.nyheter h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.nyhet {
    background-color: #222;

    max-width: 700px;
    margin: 0 auto 40px auto;

    padding: 30px;
    border-radius: 10px;
}

.nyhet img {
    width: 100%;
    max-width: 500px;

    border-radius: 10px;
    margin-bottom: 20px;
}

.nyhet h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.nyhet p {
    font-size: 18px;
    line-height: 1.5;
    color: grey;
}

.ekstra-tekst {
    display: none;
    margin-top: 10px;
}

button {
    padding: 12px 20px;
    cursor: pointer;

    margin-top: 20px;

    border: none;
    border-radius: 5px;

    background-color: red;
    color: white;

    font-size: 16px;
}


/* SPILLERE */

.spillere {
    padding: 80px 20px;
    text-align: center;
}

.spillere h2 {
    font-size: 40px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.spiller-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.spiller {
    background-color: #222;

    width: 250px;

    padding: 30px;
    border-radius: 10px;

    text-align: center;
}

.spiller img {
    width: 140px;
    height: 140px;

    object-fit: cover;
    border-radius: 50%;

    margin-bottom: 20px;
}

.spiller h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.spiller p {
    font-size: 18px;
    color: red;
}


/* FOOTER */

footer {
    background-color: black;
    padding: 30px;
    text-align: center;

    margin-top: 50px;
}


/* ================= LYS MODUS ================= */

.lys-modus {
    background-color: white;
    color: black;
}


/* NAV */

.lys-modus nav {
    background-color: #dddddd;
}

.lys-modus a {
    color: black;
}

.lys-modus .logo {
    color: red;
}


/* HERO */

.lys-modus .hero {
    background-color: #eeeeee;
}

.lys-modus .hero p {
    color: black;
}


/* NYHETER */

.lys-modus .nyhet {
    background-color: #f0f0f0;
    color: black;
}

.lys-modus .nyhet p {
    color: black;
}

.lys-modus .nyhet h3 {
    color: black;
}


/* SPILLERE */

.lys-modus .spiller {
    background-color: #f0f0f0;
    color: black;
}

.lys-modus .spiller p {
    color: black;
}

.lys-modus .spiller h3 {
    color: black;
}


/* FOOTER */

.lys-modus footer {
    background-color: #dddddd;
    color: black;
}